@charset "UTF-8";
body{
    background-color: rgb(91, 91, 255);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    text-align: center;
}
main{
    background-color: white;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}
footer{
    text-align: center;
    color: white;
    font-style: italic;
}